{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}

{% extends "BrzozowskiIntelliHomeBundle::base.html.twig" %}

{% block pageTitle %}
    Brak dostępu | {{ parent() }}
{% endblock %}

{% block navigation %}{% endblock %}

{% block welcome %}{% endblock %}

{% block pageContainer %}
    <div class="container">
        <div class="jumbotron">
            <h1>Brak dostępu...</h1>
            <p>Niestety strona, której szukasz nie pozwala na nieautoryzowany dostęp.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('intellihome_login') }}" role="button">Wróć na stronę główną &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}