/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
/src/Brzozowski/IntelliHomeBundle/Model/Arduino/ArduinoDataProvider_client.php
/src/Brzozowski/IntelliHomeBundle/Model/Arduino/ArduinoDataProvider_demo.php
/src/Brzozowski/IntelliHomeBundle/Resources/config/parameters_client.yml
/src/Brzozowski/IntelliHomeBundle/Resources/config/parameters_demo.yml
/app/config/parameters_client.yml
/app/config/parameters_demo.yml
/app/config/parameters_oryg.yml

/app/config/parameters.yml
/src/Brzozowski/IntelliHomeBundle/Resources/config/parameters.yml
/src/Brzozowski/IntelliHomeBundle/Model/Arduino/ArduinoDataProvider.php