{% extends "BrzozowskiIntelliHomeBundle::base.html.twig" %}

{% block pageTitle %}
    Wykresy | {{ parent() }}
{% endblock %}

{% block pageContainer %}
    <div class="container">
        <h3 style="color:#eee">Witaj {{ name }} {{ surname }}!</h3>
        <div class="row">
        </div>
    </div>
{% endblock %}