{% extends "BrzozowskiIntelliHomeBundle::base.html.twig" %}

{% block pageTitle %}
    Wykresy | {{ parent() }}
{% endblock %}

{% block pageContainer %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Wykresy
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>
    <br><br>
{% endblock %}